<h1>LOGIN PAGE</h1>

<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button>Submit</button>
</form>
<li><a href="/logout">LOGOUT</a></li>
<li><a href="/register">REGISTER</a></li>