<h1>This is secret page</h1>
<p>dsfahgjkdfhsnjkbhjahsdfbkh adhsgjkhdsafjkglh dghkadjslhgjkhadsjkgh jkdhsgjkhadsklghjkdsa dsajkghklj hk <br> sdjkghjkadhsgkljhdsg djskag sdghldkshakjsh <br> sdhagsadgjkghadslf <br> sdjkhgksalhgakhsdgk asfgahsdkjghsdgl asdghlhdsglhdghwidsgj <br> THANK YOU</p>
<li><a href="/login">LOGIN</a></li>
<li><a href="/logout">LOGOUT</a></li>
 <li><a href="/register">REGISTER</a></li>
