<h1>Login</h1>

<form action="/secret" method="GET">
    <input type="text" name="username">
    <input type="text" name="password">
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>
<a href="/logout">logout</a>

